* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 15px; }

body {
  font-family: "Lato", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

header {
  background-color: #000000; }

.container {
  display: flex;
  width: 90%;
  max-width: 1080px;
  margin: auto; }

.secondary-heading {
  font-weight: 400;
  color: #4d4d4d;
  margin-top: 2rem; }
  .secondary-heading::after {
    content: "";
    display: block;
    height: 8px;
    background-color: #26c7ab;
    width: 325px;
    margin-top: 0.5rem;
    position: static;
    top: 0%;
    left: 0%; }

.button {
  color: white;
  border: none;
  display: block;
  margin: auto;
  margin-top: 1rem;
  padding: 2.5% 8%;
  padding-top: 3.5%;
  border-radius: 0.4rem;
  background-color: #26c7ab; }

.navigation {
  color: white;
  display: flex;
  width: 100%;
  margin: auto;
  height: 40px;
  align-items: center;
  font-size: 1rem; }
  .navigation__logo {
    flex: 1; }
    .navigation__logo span {
      color: #26c7ab;
      font-weight: 900; }
  .navigation__list {
    font-weight: bold;
    flex: 0.5;
    list-style: none;
    display: flex; }
  .navigation__item {
    margin-left: auto; }
  .navigation__link {
    color: white;
    text-decoration: none; }

.dropdown {
  position: relative; }
  .dropdown:hover .dropdown__list {
    display: block; }
  .dropdown__list {
    display: none;
    padding-top: 0.9rem;
    position: absolute;
    background: transparent;
    left: -15px; }
    .dropdown__list::before {
      content: "";
      display: block;
      width: 0px;
      margin: auto;
      border-bottom: 10px solid black;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent; }
  .dropdown__items-wrapper {
    padding: 0.5rem 0.8rem;
    background-color: #000; }
  .dropdown__item {
    font-size: 1.1rem;
    font-weight: 400;
    padding-bottom: 0.5rem; }
    .dropdown__item:nth-last-of-type(1) {
      padding: 0; }

.carousel {
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #fdfdfd 0%, #e8e8ea 77%, #cdcbd0 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fdfdfd), color-stop(77%, #e8e8ea), color-stop(100%, #cdcbd0));
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #e8e8ea 77%, #cdcbd0 100%);
  background: -o-linear-gradient(top, #fdfdfd 0%, #e8e8ea 77%, #cdcbd0 100%);
  background: -ms-linear-gradient(top, #fdfdfd 0%, #e8e8ea 77%, #cdcbd0 100%);
  background: linear-gradient(to bottom, #fdfdfd 0%, #e8e8ea 77%, #cdcbd0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#cdcbd0', GradientType=0 ); }
  .carousel__list {
    position: relative; }
  .carousel__item {
    display: none;
    background-repeat: no-repeat;
    margin-bottom: 0.7rem; }
    .carousel__item:nth-of-type(1) {
      background-image: url("../../images/black_chair.png");
      background-position: -7% 97%;
      background-size: 55%; }
    .carousel__item:nth-of-type(2) {
      background-image: url("../../images/orange_chair.png");
      background-position: 4% 75%;
      background-size: 45%; }
    .carousel__item:nth-of-type(3) {
      background-image: url("../../images/red_chair.png");
      background-position: 12% 65%;
      background-size: 35%; }
    .carousel__item--active {
      display: flex; }
  .carousel__left-arrow {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 50px;
    height: 60px; }
    .carousel__left-arrow::before {
      content: "";
      position: absolute;
      transform: rotate(60deg);
      width: 4px;
      height: 38px;
      background-color: #26c7ab;
      top: 0px;
      left: 15px; }
    .carousel__left-arrow::after {
      content: "";
      position: absolute;
      display: block;
      width: 4px;
      height: 38px;
      background-color: #26c7ab;
      transform: rotate(-60deg);
      top: 18px;
      left: 15px; }
  .carousel__right-arrow {
    position: absolute;
    top: 50%;
    right: 0%;
    width: 50px;
    height: 60px; }
    .carousel__right-arrow::after {
      content: "";
      position: absolute;
      width: 4px;
      transform: rotate(60deg);
      height: 38px;
      background-color: #26c7ab;
      top: 18px;
      right: 15px; }
    .carousel__right-arrow::before {
      content: "";
      position: absolute;
      display: block;
      width: 4px;
      height: 38px;
      background-color: #26c7ab;
      transform: rotate(-60deg);
      top: 0px;
      right: 15px; }
  .carousel__textbox {
    width: 45%;
    margin-top: 9rem;
    margin-bottom: 7rem;
    margin-left: auto;
    margin-right: 125px; }
  .carousel__heading {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.7rem;
    font-weight: normal;
    word-spacing: 0.2rem; }
    .carousel__heading span {
      font-weight: 900;
      color: #26c7ab; }
  .carousel__text {
    color: #4e4e4e;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: 2rem 1rem;
    margin-bottom: 1.7rem; }
  .carousel__button {
    font-size: 1.55rem;
    color: white; }

.img-section {
  margin: 1.8rem 0;
  margin-bottom: 4.8rem; }
  .img-section .container {
    justify-content: space-between; }
  .img-section__box {
    margin: 0 0.85rem;
    flex: 1; }
    .img-section__box--first {
      position: relative;
      margin-left: 0; }
      .img-section__box--first .img-section__description {
        position: absolute;
        width: 100%;
        background-color: #ffffff69;
        height: 60px;
        top: 58%; }
        .img-section__box--first .img-section__description::before {
          content: "Chair CLAIR";
          position: absolute;
          top: 17%;
          left: 6%;
          font-weight: 600; }
        .img-section__box--first .img-section__description::after {
          content: "";
          display: block;
          height: 8px;
          background-color: #26c7ab;
          width: 150px;
          margin-top: 0;
          position: absolute;
          top: 50%;
          left: 5%; }
    .img-section__box--second {
      position: relative; }
      .img-section__box--second .img-section__description {
        position: absolute;
        width: 100%;
        background-color: #ffffff69;
        height: 60px;
        top: 58%; }
        .img-section__box--second .img-section__description::before {
          content: "Chair MARGARITA";
          position: absolute;
          top: 17%;
          left: 6%;
          font-weight: 600; }
        .img-section__box--second .img-section__description::after {
          content: "";
          display: block;
          height: 8px;
          background-color: #26c7ab;
          width: 150px;
          margin-top: 0;
          position: absolute;
          top: 50%;
          left: 5%; }
    .img-section__box--third {
      border: 1px solid #dbdbdb;
      padding: 1.8rem 1.4rem;
      margin-right: 0; }
  .img-section__heading {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.9rem; }
    .img-section__heading::after {
      content: "";
      display: block;
      height: 8px;
      background-color: #26c7ab;
      width: 150px;
      margin-top: 0;
      position: static;
      top: 0%;
      left: 0%; }
  .img-section__text {
    color: #868686;
    line-height: 1.6rem; }
    .img-section__text:nth-of-type(2) {
      margin-top: 1rem; }

.price-list {
  background-color: #f0f0f0; }
  .price-list .container--price-list {
    flex-direction: column; }
  .price-list__heading {
    margin-top: 3rem;
    margin-bottom: 1rem; }

.container--price-plan {
  width: 100%;
  justify-content: space-between; }

.price-plan {
  background-color: #f9f9f9;
  display: flex;
  flex-basis: 31.5%;
  flex-direction: column;
  border: 2px solid #d4d4d4;
  height: 505px;
  margin: 4rem 0; }
  .price-plan:nth-of-type(1), .price-plan:nth-of-type(3) {
    position: relative; }
    .price-plan:nth-of-type(1)::before, .price-plan:nth-of-type(3)::before {
      content: "";
      position: absolute;
      display: block;
      background-color: #fff;
      width: 50px;
      height: 50px;
      border: 2px solid #d4d4d4;
      border-radius: 100px;
      top: -7%;
      left: 42.5%; }
    .price-plan:nth-of-type(1)::after, .price-plan:nth-of-type(3)::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #c1c1c1;
      border-radius: 100px;
      width: 26px;
      height: 26px;
      top: -4.28%;
      left: 46.61%; }
  .price-plan:nth-of-type(2) {
    position: relative; }
    .price-plan:nth-of-type(2)::before {
      content: "";
      position: absolute;
      display: block;
      background-color: #fff;
      width: 50px;
      height: 50px;
      border: 2px solid #d4d4d4;
      border-radius: 100px;
      top: -7%;
      left: 42.5%;
      border-color: #26c7ab;
      background-color: #26c7ab; }
    .price-plan:nth-of-type(2)::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #c1c1c1;
      border-radius: 100px;
      width: 26px;
      height: 26px;
      top: -4.28%;
      left: 46.61%;
      background-color: #fff; }
  .price-plan__title {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 1.7rem auto;
    margin-bottom: 1.6rem; }
  .price-plan__price {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background-color: white;
    padding: 4.3rem;
    border: 2px solid #d4d4d4;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    color: #bebebe; }
    .price-plan__price--first .price-plan__value {
      top: 7px;
      left: 5px; }
      .price-plan__price--first .price-plan__value span {
        position: relative;
        top: -8px;
        left: 0px; }
      .price-plan__price--first .price-plan__value sup {
        top: -13px;
        left: -1px; }
    .price-plan__price--second {
      border-color: #26c7ab;
      color: #26c7ab;
      background-color: #fff; }
      .price-plan__price--second .price-plan__value {
        color: #26c7ab;
        top: 7px;
        left: 7px; }
        .price-plan__price--second .price-plan__value sup {
          top: -13px;
          left: -1px; }
    .price-plan__price--third .price-plan__value {
      top: 2px;
      left: -2px; }
      .price-plan__price--third .price-plan__value sup {
        top: -13px;
        left: -1px; }
  .price-plan__value {
    position: relative;
    font-size: 3rem;
    font-weight: 900; }
    .price-plan__value sup {
      position: relative;
      font-size: 1.1rem; }
  .price-plan__currency {
    font-size: 1.1rem;
    font-weight: 900; }
  .price-plan__features {
    display: flex;
    flex-direction: column;
    margin-top: 2rem; }
  .price-plan__feature {
    font-size: 1.7rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
    padding: 0.4rem 0; }
    .price-plan__feature:nth-of-type(2n + 1) {
      background-color: #e4e4e4;
      color: #949494; }
    .price-plan__feature:nth-of-type(2n + 2) {
      background-color: #f0f0f0;
      color: #6e6e6e; }
  .price-plan__button {
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: 1.5rem; }
  .price-plan.price-plan--middle {
    background-color: #26c7ab;
    border-color: #26c7ab; }
    .price-plan.price-plan--middle .price-plan__title {
      color: white; }
    .price-plan.price-plan--middle .price-plan__feature:nth-of-type(2n + 1) {
      background-color: #fff;
      color: #949494; }
    .price-plan.price-plan--middle .price-plan__feature:nth-of-type(2n + 2) {
      color: #949494; }
    .price-plan.price-plan--middle .price-plan__button {
      color: #26c7ab;
      background-color: white; }

.container--contact {
  display: flex;
  flex-direction: column; }

.contact-form {
  display: flex;
  margin-top: 2rem; }
  .contact-form__label {
    margin: 0.8rem 0; }
  .contact-form__input-wrapper {
    flex: 2;
    display: flex;
    flex-direction: column; }
  .contact-form__input {
    width: 100%;
    font-size: 1.3rem;
    padding: 1.2rem;
    border: 1px solid #a4e1d0; }
    .contact-form__input::placeholder {
      color: #b1b1b1;
      font-size: 2rem;
      font-family: "Lato", sans-serif;
      font-weight: 300; }
  .contact-form textarea.contact-form__input {
    resize: none; }
  .contact-form .submit-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-right: 2rem; }
    .contact-form .submit-box__image {
      margin-left: 1rem;
      width: 264px; }
    .contact-form .submit-box .checkbox {
      margin-top: 2rem; }
      .contact-form .submit-box .checkbox__input {
        display: none; }
      .contact-form .submit-box .checkbox__label {
        display: flex;
        height: 3rem; }
      .contact-form .submit-box .checkbox__content {
        flex: 0 0 50px;
        position: relative;
        border: 1px solid #a4e1d0;
        margin-right: 1rem; }
        .contact-form .submit-box .checkbox__content::before {
          content: url(../../images/form_ok.jpg);
          position: absolute;
          top: 3%; }
      .contact-form .submit-box .checkbox__text {
        color: #b1b1b1;
        font-size: 1.3rem;
        font-weight: 300;
        margin: auto; }
    .contact-form .submit-box__button {
      width: 100%;
      font-size: 2.2rem;
      font-weight: 700;
      padding: 1rem 0;
      margin: 0.8rem 0;
      margin-top: auto; }

.footer {
  margin-top: 5rem;
  margin-bottom: 2rem;
  align-items: center; }
  .footer__copyright {
    display: flex;
    color: #949494;
    align-items: center;
    flex: 2;
    font-size: 1.1rem; }
  .footer__links {
    flex: 0.64; }
  .footer__logo {
    display: flex;
    font-size: 1.35rem;
    color: #949494;
    align-items: center;
    word-spacing: 0.35rem; }
    .footer__logo span {
      font-weight: 900; }
