* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

header {
  background-color: #000000; }

.container {
  display: flex;
  width: 90%;
  max-width: 1080px;
  margin: auto; }

.secondary-heading {
  font-weight: 400;
  color: #4d4d4d;
  margin-top: 3rem; }
  .secondary-heading::after {
    content: "";
    display: block;
    height: 7px;
    background-color: #26c7ab;
    width: 325px;
    margin-top: 0.4rem; }

.button {
  color: white;
  border: none;
  display: block;
  margin: auto;
  margin-top: 1rem;
  padding: 2% 8%;
  padding-top: 2.5%;
  border-radius: 0.4rem;
  background-color: #26c7ab; }

.u-greenBlue {
  color: #26c7ab; }

.navigation {
  color: white;
  display: flex;
  width: 100%;
  margin: auto;
  height: 40px;
  align-items: center;
  font-size: 1rem;
  font-weight: bold; }
  .navigation__logo {
    flex: 1; }
  .navigation__list {
    flex: 0.5;
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .navigation__link {
    color: white;
    text-decoration: none; }

.carousel {
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #fdfdfd 0%, #e8e8ea 77%, #cdcbd0 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fdfdfd), color-stop(77%, #e8e8ea), color-stop(100%, #cdcbd0));
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #e8e8ea 77%, #cdcbd0 100%);
  background: -o-linear-gradient(top, #fdfdfd 0%, #e8e8ea 77%, #cdcbd0 100%);
  background: -ms-linear-gradient(top, #fdfdfd 0%, #e8e8ea 77%, #cdcbd0 100%);
  background: linear-gradient(to bottom, #fdfdfd 0%, #e8e8ea 77%, #cdcbd0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#cdcbd0', GradientType=0 ); }
  .carousel__item {
    display: flex;
    background-image: url("../../images/black_chair.png");
    background-repeat: no-repeat;
    background-position: left center; }
  .carousel__textbox {
    width: 45%;
    margin: 7rem 3rem;
    margin-left: auto; }
  .carousel__heading {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem; }
  .carousel__text {
    color: #4e4e4e;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: 2rem 1rem;
    margin-bottom: 1.7rem; }
  .carousel__button {
    font-size: 1.5rem;
    color: white; }

.img-section {
  margin: 1.8rem 0; }
  .img-section .container {
    justify-content: space-between; }
  .img-section__box {
    margin: 0 0.85rem;
    flex: 1; }
    .img-section__box--first {
      margin-left: 0; }
    .img-section__box--third {
      border: 1px solid #dbdbdb;
      padding: 1.8rem 1.4rem;
      margin-right: 0; }
  .img-section__heading {
    font-size: 1.2rem;
    margin-bottom: 0.9rem; }
    .img-section__heading::after {
      content: "";
      display: block;
      height: 7px;
      background-color: #26c7ab;
      width: 150px;
      margin-top: 0; }
  .img-section__text {
    color: #868686;
    line-height: 1.6rem; }
    .img-section__text:nth-of-type(2) {
      margin-top: 1rem; }

.price-list {
  background-color: #f0f0f0; }
  .price-list .container--price-list {
    flex-direction: column; }

.container--price-plan {
  width: 100%;
  justify-content: space-between; }

.price-plan {
  background-color: #f9f9f9;
  display: flex;
  flex-basis: 31.5%;
  flex-direction: column;
  border: 2px solid #d4d4d4;
  height: 505px;
  margin: 4rem 0; }
  .price-plan:nth-of-type(1), .price-plan:nth-of-type(3) {
    position: relative; }
    .price-plan:nth-of-type(1)::before, .price-plan:nth-of-type(3)::before {
      content: "";
      position: absolute;
      display: block;
      background-color: #fff;
      width: 50px;
      height: 50px;
      border: 2px solid #d4d4d4;
      border-radius: 100px;
      top: -7%;
      left: 42.5%; }
    .price-plan:nth-of-type(1)::after, .price-plan:nth-of-type(3)::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #c1c1c1;
      border-radius: 100px;
      width: 26px;
      height: 26px;
      top: -4.28%;
      left: 46.61%; }
  .price-plan:nth-of-type(2) {
    position: relative; }
    .price-plan:nth-of-type(2)::before {
      content: "";
      position: absolute;
      display: block;
      background-color: #fff;
      width: 50px;
      height: 50px;
      border: 2px solid #d4d4d4;
      border-radius: 100px;
      top: -7%;
      left: 42.5%;
      border-color: #26c7ab;
      background-color: #26c7ab; }
    .price-plan:nth-of-type(2)::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #c1c1c1;
      border-radius: 100px;
      width: 26px;
      height: 26px;
      top: -4.28%;
      left: 46.61%;
      background-color: #fff; }
  .price-plan__title {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 1.7rem auto;
    margin-bottom: 1.6rem; }
  .price-plan__price {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding: 2rem;
    border: 2px solid #d4d4d4;
    border-radius: 100px;
    justify-content: center;
    align-items: center; }
  .price-plan__features {
    display: flex;
    flex-direction: column;
    margin-top: 2rem; }
  .price-plan__feature {
    font-size: 1.7rem;
    width: 100%;
    text-align: center;
    padding: 0.4rem 0; }
    .price-plan__feature:nth-of-type(2n + 1) {
      background-color: #e4e4e4;
      color: #949494; }
    .price-plan__feature:nth-of-type(2n + 2) {
      background-color: #f0f0f0;
      color: #6e6e6e; }
  .price-plan__button {
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: 1.5rem; }
  .price-plan.price-plan--middle {
    background-color: #26c7ab;
    border-color: #26c7ab; }
    .price-plan.price-plan--middle .price-plan__title {
      color: white; }
    .price-plan.price-plan--middle .price-plan__feature:nth-of-type(2n + 1) {
      background-color: #fff;
      color: #949494; }
    .price-plan.price-plan--middle .price-plan__feature:nth-of-type(2n + 2) {
      color: #949494; }
    .price-plan.price-plan--middle .price-plan__price {
      border-color: #26c7ab; }
    .price-plan.price-plan--middle .price-plan__price,
    .price-plan.price-plan--middle .price-plan__button {
      color: #26c7ab;
      background-color: white; }

.container--contact {
  display: flex;
  flex-direction: column; }

.contact-form {
  display: flex;
  margin-top: 2rem; }
  .contact-form__label {
    margin: 0.8rem 0; }
  .contact-form__input-wrapper {
    flex: 2;
    display: flex;
    flex-direction: column; }
  .contact-form__input {
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    border: 1px solid #26c7ab; }
    .contact-form__input::placeholder {
      color: #b1b1b1;
      font-size: 2rem; }
  .contact-form .submit-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 4rem; }
    .contact-form .submit-box__image {
      margin-left: 1rem;
      width: 264px; }
    .contact-form .submit-box .checkbox {
      margin-top: 2rem; }
      .contact-form .submit-box .checkbox__input {
        display: none; }
      .contact-form .submit-box .checkbox__label {
        display: flex;
        height: 3rem; }
      .contact-form .submit-box .checkbox__content {
        flex: 0 0 50px;
        position: relative;
        border: 1px solid #26c7ab;
        margin-right: 1rem; }
        .contact-form .submit-box .checkbox__content::before {
          content: "\2714";
          color: #26c7ab;
          position: absolute;
          font-size: 3.7rem;
          top: -23%;
          left: 2%; }
      .contact-form .submit-box .checkbox__text {
        color: #b1b1b1;
        font-size: 1.3rem;
        margin: auto; }
    .contact-form .submit-box__button {
      width: 100%;
      font-size: 2.5rem;
      padding: 0.8rem 0;
      margin: 0.8rem 0;
      margin-top: auto; }
