.carousel {
  background: rgba(253, 253, 253, 1);
  background: -moz-linear-gradient(
    top,
    rgba(253, 253, 253, 1) 0%,
    rgba(232, 232, 234, 1) 77%,
    rgba(205, 203, 208, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(253, 253, 253, 1)),
    color-stop(77%, rgba(232, 232, 234, 1)),
    color-stop(100%, rgba(205, 203, 208, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(253, 253, 253, 1) 0%,
    rgba(232, 232, 234, 1) 77%,
    rgba(205, 203, 208, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(253, 253, 253, 1) 0%,
    rgba(232, 232, 234, 1) 77%,
    rgba(205, 203, 208, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(253, 253, 253, 1) 0%,
    rgba(232, 232, 234, 1) 77%,
    rgba(205, 203, 208, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(253, 253, 253, 1) 0%,
    rgba(232, 232, 234, 1) 77%,
    rgba(205, 203, 208, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#cdcbd0', GradientType=0 );

  &__list {
  }
  &__item {
    display: flex;
    background-image: url("../../images/black_chair.png");
    background-repeat: no-repeat;
    background-position: -7% 97%;
    background-size: 55%;
    margin-bottom: 0.7rem;
  }

  &__left-arrow {
    margin: auto 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      transform: rotate(60deg);
      width: 4px;
      height: 38px;
      background-color: $green-blue;
      top: -20px;
      left: 14px;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 4px;
      height: 38px;
      background-color: $green-blue;
      transform: rotate(-60deg);
      top: -2px;
      left: 14px;
    }
  }

  &__right-arrow {
    margin: auto 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 4px;
      transform: rotate(60deg);
      height: 38px;
      background-color: $green-blue;
      top: -2px;
      right: 14px;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 4px;
      height: 38px;
      background-color: $green-blue;
      transform: rotate(-60deg);
      top: -20px;
      right: 14px;
    }
  }

  &__textbox {
    width: 45%;
    margin-top: 9rem;
    margin-bottom: 7rem;
    margin-left: auto;
    margin-right: 125px;
  }
  &__heading {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.7rem;
    font-weight: normal;
    word-spacing: 0.2rem;
    span {
      font-weight: 900;
      color: $green-blue;
    }
  }
  &__text {
    color: $carousel-box-text;
    text-align: center;
    font-size: 1.1rem;
    line-height: $line-height;
    margin: 2rem 1rem;
    margin-bottom: 1.7rem;
  }
  &__button {
    font-size: 1.55rem;
    color: white;
  }
}
