.container--contact {
  display: flex;
  flex-direction: column;
}

.contact {
  &__heading {
  }

  &-form {
    display: flex;
    margin-top: 2rem;

    &__label {
      margin: 0.8rem 0;
    }
    &__input-wrapper {
      flex: 2;
      display: flex;
      flex-direction: column;
    }
    &__input {
      &::placeholder {
        color: $contact-form-text-color;
        font: {
          size: 2rem;
          family: "Lato", sans-serif;
          weight: 300;
        }
      }
      width: 100%;
      font-size: 1.3rem;
      padding: 1.2rem;
      border: 1px solid $contact-form-border-color;
    }

    textarea.contact-form__input {
      resize: none;
    }

    .submit-box {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-left: 4rem;
      margin-right: 2rem;

      &__image {
        margin-left: 1rem;
        width: 264px;
      }

      .checkbox {
        margin-top: 2rem;

        &__input {
          display: none;
        }

        &__label {
          display: flex;
          height: 3rem;
        }

        &__content {
          flex: 0 0 50px;
          position: relative;
          border: 1px solid $contact-form-border-color;
          margin-right: 1rem;
          // padding: 0.2rem;
          &::before {
            content: url(../../images/form_ok.jpg);
            position: absolute;
            top: 3%;
          }
        }

        &__text {
          color: $contact-form-text-color;
          font-size: 1.3rem;
          font-weight: 300;
          margin: auto;
        }
      }
      &__button {
        width: 100%;
        font-size: 2.2rem;
        font-weight: 700;
        padding: 1rem 0;
        margin: 0.8rem 0;
        margin-top: auto;
      }
    }
  }
}
