$line-height: 1.6rem;
$price-wrapper-width: 120px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: #000000;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1080px;
  margin: auto;
}

.secondary-heading {
  font-weight: 400;
  color: $secondary-heading-color;
  margin-top: 2rem;
  @include heading-underline(325px, 0.5rem);
}

.button {
  color: white;
  border: none;
  display: block;
  margin: auto;
  margin-top: 1rem;
  padding: 2.5% 8%;
  padding-top: 3.5%;
  border-radius: 0.4rem;
  background-color: $green-blue;
}

.u-greenBlue {
  color: $green-blue;
}
