$green-blue: #26c7ab;
$price-plan-feature-bck-even: #f0f0f0;
$price-plan-feature-bck-odd: #e4e4e4;
$carousel-box-text: #4e4e4e;
$img-section-border-color: #dbdbdb;
$img-section-box-text: #868686;
$secondary-heading-color: #4d4d4d;
$price-list-bck: $price-plan-feature-bck-even;
$price-plan-bck: #f9f9f9;
$price-plan-value: #bcbcbc;
$price-plan-circle-inner: $price-plan-value;
$price-plan-feature-text-odd: #949494;
$price-plan-feature-text-even: #6e6e6e;
$price-plan-border-color: #d4d4d4;
$price-plan-top-circle-inner-bck: #c1c1c1;
$contact-form-text-color: #b1b1b1;
$contact-form-border-color: #a4e1d0;
$footer-text-color: #949494;
$price-plan-value-color: #bebebe;
